<!-- post box -->
<div class="post-container" id="post-container">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <div>
                    <textarea class="form-control" rows="3" id="post-content" placeholder="Any cool story you wanna share?"></textarea>
                </div>
            </div>
            <div class="form-group pull-left">
                <div>
                    <button type="button" class="btn btn-primary" id="submit-post-btn">Post</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

{{#results}}
<article class="post well">
    <header class="post-header">
        <div class="post-image">
            <img class="mini-thumbnail" src="{{createdBy.picture}}"/>
        </div>
        <div class="post-info">
            <p><a href="#" class="profile-link" data-user-id="{{createdBy.objectId}}">{{createdBy.name}}</a> made a post</p>
            <p>on <time>{{createdAt}}</time></p>
        </div>
    </header>
    <section class="post-content">
        <p>{{content}}</p>
    </section>
</article>
{{/results}}

<div class="hover-box">
    <p>Loading...</p>
</div>