<ul class="listItems">
    <li class="item" data-id="note_id">
        <a href="#">
            <h2 id="title">Note Title#1</h2>
            <p id="text">Note Text#1</p>
            <div class="author" title="author">Author</div>
            <div class="deadline" title="deadline">01-02-1990</div>
        </a>
    </li>
	<li class="item" data-id="note_id">
        <a href="#">
            <h2 id="title">Note Title#2</h2>
            <p id="text">Note Text#2</p>
            <div class="author" title="author">Author2</div>
            <div class="deadline" title="deadline">02-02-1990</div>
        </a>
    </li>
</ul>
<div id="pagination"></div>