<div class="image-container">
    <img class="thumbnail" />
</div>
<div class="summary-container">
    <h2>Hello, Name!</h2>
</div>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Edit profile</a></li>
            <li><a href="#">Post</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li><a class="navbar-brand"><u>Username</u></a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
</nav>