#body {
    width: 100%;
}

#wrapper {
    width: 100%;
    padding: 20px;
    display: block;
    text-align: center;
}

input, p {
    display: inline;
    vertical-align: middle;
    font-size: 30px;
    font-family: Arial;
}

input {
    border: none;
    width: 250px;
    height: 40px;
    border-bottom: 1px solid #000;
}

input:focus {
    outline: none;
}

#visits > p {
    display: block;
}
