<div style="display: inline-block">
	<form>
		<fieldset>
			<legend><h2>Create a new account</h2></legend>
			<div>
				<div>
					<label for="reg-username">Username*:</label>
					<div>
						<input type="text" id="reg-username" placeholder="Username" required>
					</div>
				</div>
				<div>
					<label for="reg-password">Password*:</label>
					<div>
						<input type="password" id="reg-password" placeholder="Password" required>
					</div>
				</div>
				<div>
					<label for="reg-name">Name*:</label>
					<div>
						<input type="text" id="reg-name" placeholder="Name" required>
					</div>
				</div>
				<div>
					<label for="reg-about">About me:</label>
					<div>
						<textarea class="form-control" rows="3" id="reg-about"></textarea>
					</div>
				</div>
				<div>
					<label>Gender:</label>
					<div>
						<div>
							<label>
								<input type="radio" name="gender-radio" value="male">Male
							</label>
							<label>
								<input type="radio" name="gender-radio" value="female">Female
							</label>
							<label>
								<input type="radio" name="gender-radio" value="other">Other
							</label>
						</div>
					</div>
				</div>
			</div>

			<div>
				<div>
					<button type="button" id="login-button">Login</button>
					<button type="button" id="register-button">Register</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>